<div *ngIf="showCategories" class="margin">
 
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>category Name</th>
          
          <th>category Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{category.name}}</td>
          <td>{{category.categoryStatus}}</td>
         
          <td> <button class="btn-xs"(click)="update(category._id)">Update</button>
            </td>
        </tr>
       
      </tbody>
    </table>
  
  
  </div>
<!-- <div *ngIf="showCategories">
  <ul>
    <li *ngFor="let category of categories">
      {{category._id}}-{{category.name}}-{{category.categoryStatus}}
      <button class="btn-xs"(click)="update(category._id)">Update</button><br><br>
      
    </li>
  </ul>
</div> -->

<div *ngIf="isUpdate">
<app-update-category (updatedCategory)="updateCategory($event)" (isBack)="showCategoriesPage($event)"[updateCategory]="categories" [updateId]="id"></app-update-category>
</div>