.parallax {
    /* The image used */
    background-image: url("../../../assets/user/good_food.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-heading {
    
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 6px 0 rgba(0,0,0,0.12);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 170px;
}
.background{
    
    min-height: 310px;
   background-color:  #d70f64;
   color: #fff;
   text-shadow: 0 2px 0 rgba(0,0,0,0.12);
   padding-top: 70px;
   background-size: cover;
   /* margin: 0 0 10px; */
  

}
oboutsetforP1{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0px;
}
.backgroundforP{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.6;
}
.off{
    padding-left: 70px;
}
.about{
    background-color: white;
    min-height: 500px;
    
}
.aboutset{
    margin: 0px 0 40px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #d70f64;
    padding-top: 160px;
    color: #d70f64;
    font-size: 30px;
}
.oboutsetforP{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    text-shadow: 0 2px 0 #333;
}
