<div class="parallax">
  <div class="col-md-12 ">
    <h1 class="brand-heading text-center">Good Food for Your Everyday</h1>
</div>
</div>

<div class="about">
    <div class="col-md-12"> 
    <div class="col-md-8 col-md-offset-2 text-center ">
        <p class="aboutset">About us</p>
        <p class=".oboutsetforP1">For us, it's not just about bringing you good food from your favourite restaurants. It's about making a connection, which is why we sit down 
            with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!</p>
    </div>
    </div>
</div>
   







<!--  -->
    <div class="background">
        <div class="col-xs-12">
         <div class="col-md-10 off ">
          <p class="backgroundforP">OUR MISSION<p>
                <p>"Bringing good food into your everyday. That's our mission.</p>
                <p>That means we don't just deliver--we bring it, always going the extra mile to make your experience memorable.</p>
                <p>And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. 
                  Whatever you crave, we can help."</p>
         </div>
        </div>
    </div>
    