<div *ngIf = "!showrestaurant " >
  <app-route-list></app-route-list>
  <app-clear-filter></app-clear-filter>
</div>

<div *ngIf = "!showrestaurant " class="col-xs-7 col-sm-7 col-md-8" >
<div *ngFor="let r of vendors">
<div class="col-xs-11 col-sm-11 col-md-12 background shadow">
  
  <div class="col-md-2 col-sm-4 col-xs-10  ">
    <!-- <div class="pic"> -->
      <a href="#">
        
        <img src="./assets/user/cascade.jpg" >
      </a>
    <!-- </div> -->
  </div>

  
  <div class="col-md-3 col-sm-8 col-xs-8 col-xs-offset-1 custom">
      <h4 class="textcolor">{{r.vendorName}}</h4>
      <h5 style="margin-left: 2px; ">{{r.resturantType}} </h5>
      
    </div>

   
    <div class="col-md-5 col-sm-12 col-xs-12 leftbg">
      <div class="list_last_btn pull-right text-right buttonset ">
        
        <span class="cod" data-toggle="tooltip" title="" data-original-title="COD"></span>
          <span class="payment-online" data-toggle="tooltip" title="" data-original-title="Online payment available"></span>
          <!-- <a [routerLink]="['/restaurant'] "> -->
          
        <button type="submit" class="btn btn-primary goto_menu " (click)="restaurant(r)">Menues</button>
        
      </div>
    </div>


    <div class="col-md-6 col-sm-12 col-xs-12  pull-right text-right">
      
      <div class="col-md-4 col-sm-12 col-xs-4 left-part">
        <h6 class="text-center">
            Min:
          <span class="WebRupee">₹</span>{{r.minOrderValue}} </h6>
      </div>

      <div class="col-md-8 col-sm-12 col-xs-8 left-part deliver-icon">
          
                
             
          <h6 class="text-center"><span class="glyphicon glyphicon-time size"></span>&nbsp;Delivers in {{r.deliveryTime}} min</h6>
             
          </div>
    </div>





</div>
</div>
</div>
<div *ngIf = "showrestaurant ">
  
  <app-rout-list-restaurant [currentVendor]="currentrestaurant"></app-rout-list-restaurant>
  </div>