.background{
    margin-left: 15px;
    background: white;
    margin-bottom: 12px;

}
.col-xs-10 {
    /* width: 83.33333333%; */
    padding-top: 16px;
    margin-bottom: 16px;
}

.col-md-2.pic{
    max-width: 100%;
    height: 100px;
    padding-top: 15px;
    
}
.name{
    padding-top: 10px;
}
.common-icon {
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 29px;
    color: red;
    padding-top: 10px; 
}
.common-icon1{
    position: absolute;
    left: 47px;
    top: 6px;
    font-size: 29px;
    color: red;
    padding-top: 10px; 
}
button.goto_menu {
    position: relative;
    left: 30px;
    background: #cf1e54 url(../../../assets/user/order-now-icon.png) 15px center no-repeat;
    transition: background-color 0.5s ease;
    padding: 6px 12px;
    width: 165px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    border: none;
    font: 18px 'latoregular';
}
.leftbg
{
    padding-top: 10px; 
}
h6 {
    margin: 0;
    font: 16px/24px "latoregular";
    color: #444444;
    width: auto;
    display: inline-block;
}
.left-part{
    margin-top: 30px;
    
}
.size{
    font-size:17px;
}
.buttonset{
    padding-right: 20px;
    padding-top: 5px;
}
.cod {
    cursor: pointer;
    background: url(../../../assets/user/rupee.png) no-repeat left center;
    width: 29px;
    height: 29px;
    display: inline-block;
}
.payment-online {
    cursor: pointer;
    background: url(../../../assets/user/payment-db.png) no-repeat left center;
    width: 29px;
    height: 29px;
    display: inline-block;
}
.shadow{
    -webkit-box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
    -moz-box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
    box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
}
.textcolor{
    color: #c3073f;
    font-size :25px;
}
.custom{
    margin-top: 14px;
    margin-left: 20px;
    width: 35%;
}

/* {
    margin-right: 65px;
} */