<div class="well marginwell">
  <h4>Add new Sub Category</h4>


    <div class="form-horizontal">

      <div class="form-group">
        <label class="control-label col-sm-2">Sub Category Name:</label>
        <div class="col-sm-6">

          <input type="text" class="form-control" placeholder="Sub Category Name" [(ngModel)]="newsubCategory.name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Select Category:</label>
        <div class="col-sm-2">
          <app-drop-down-categories (categoryName)="newsubCategory.parentCategory=$event"></app-drop-down-categories>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2">Status:</label>
        <div class="dropdown col-sm-2">
          <select class="form-control" [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="save()">Save</button>
          <button class="btn btn-default" (click)="back()">Back</button>
        </div>

      </div>

    </div>
  </div>


