<div class="well marginwell">
  <h4>Add new Country</h4>
      
     
  <div class="form-horizontal" >
    <form [formGroup]='myform'> 
        <div class="form-group">
          <label class="control-label col-sm-2" >Country Name:</label>
          <div class="col-sm-6">
    
            <input type="text" class="form-control" formControlName="cname"  placeholder="Country Name" [(ngModel)]="newCountry.name"  required >
          </div>
        </div>
       
        <div class="form-group">
          <label class="control-label col-sm-2" >Country ISO Code:</label>
          <div class="col-sm-6">          
            <input type="text" class="form-control" formControlName="cisocode"  placeholder="Country ISO Code" [(ngModel)]="newCountry.ISOcode"  required>
          </div>
        </div>
          <div class="form-group"> 
              <label class="control-label col-sm-2" >Status:</label>  
          <div class="dropdown  col-sm-2">
              <select class="form-control"  formControlName="status" [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)"required>
                  
                  <option  >Active</option>
                  <option >Deactive </option>
              
              </select>
            </div>
          </div>
          
            
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default"  [disabled]='!myform.valid' (click)="save()">Save</button>
           
              <button  class="btn btn-default" (click)="back()"  >Back</button>
            </div>
        </div>
          </form>
          </div>
        
        </div>
        
    
  

