
 <div class="well marginwell" *ngIf="cuisine">
    <h4>Update  Cuisine</h4>
    
        
        <div class="form-horizontal" >
        
          <div class="form-group">
            <label class="control-label col-sm-2" >Cuisine Name:</label>
            <div class="col-sm-6">
      
              <input type="text" class="form-control"   [(ngModel)]="cuisine.name"   >
            </div>
          </div>
         
          <div class="form-group">
            <label class="control-label col-sm-2" >Cuisine Sort Order:</label>
            <div class="col-sm-6">          
              <input type="text" class="form-control" [(ngModel)]="cuisine.sortOrder">
            </div>
          </div>
            <div class="form-group">   
                <label class="control-label col-sm-2" >Status:</label>
            <div class="dropdown col-sm-2">
                <select class="form-control"  [(ngModel)]="cuisine.cusineStatus" (change)="status(cuisine.cusineStatus)">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
              </div>
            </div>
            
              
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" (click)="update(cuisine)">Update</button>
                <button  class="btn btn-default" (click)="back()">Back</button>
              </div>
    
            </div>
          
          </div>
      </div>
    
  
  
 <!-- <div *ngIf="cuisine">
    <h4>{{cuisine._id}} Details</h4>
<div  >
 
  <input type="text" placeholder=" cuisine Name"  [(ngModel)]="cuisine.name"  required><br><br>
  <input type="text" placeholder="sort Order"  [(ngModel)]="cuisine.sortOrder" required><br><br>
  <select  [(ngModel)]="cuisine.cusineStatus" (click)="status(cuisine.cusineStatus)">
      
      <option  >Active</option>
      <option >Deactive </option>
  
  </select>
  
 
</div >
<br>
 <button class="btn " (click)="update(cuisine)">Update</button>
 <button  class="btn btn-default" (click)="back()">Back</button>
</div> -->