
<select  class="form-control" [(ngModel)]="selectedCusine" (ngModelChange)="getSelectedCusine(selectedCusine)" >
    
     <option *ngFor=" let cusine of cusines" [ngValue]="cusine.name">{{cusine.name}}

     </option>

</select>