<div class="well marginwell">
  <h4>Add new Vendor</h4>

  <div class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2"> Name:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Name" [(ngModel)]="newVendorDetail.vendorName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"> Email:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder="  Email" [(ngModel)]="newVendorDetail.email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"> Password:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" password" [(ngModel)]="newVendorDetail.password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Confirm Password:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Confirm Password" [(ngModel)]="newVendorDetail.confirmPassword">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">User Name:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" User Name" [(ngModel)]="newVendorDetail.userName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Vendor SMS number:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Vendor SMS number" [(ngModel)]="newVendorDetail.vendorSMSnumber">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Contact Address:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Contact Address" [(ngModel)]="newVendorDetail.contactAddress">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Categories:</label>
      <div class="col-sm-6">
        <angular2-multiselect [data]="dropdownCategoriesList" [(ngModel)]="selectedCategoriesItems" [settings]="dropdownCategoriesSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2">Cusines:</label>
      <div class="col-sm-6">
        <angular2-multiselect [data]="dropdownCusinesList" [(ngModel)]="selectedCusinesItems" [settings]="dropdownCusinesSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">City:</label>
      <div class="col-sm-6">
        <angular2-multiselect [data]="dropdownCityList" [(ngModel)]="selectedCityItems" [settings]="dropdownCitySettings" (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Area:</label>
      <div class="col-sm-6">
        <angular2-multiselect [data]="dropdownAreaList" [(ngModel)]="selectedAreaItems" [settings]="dropdownAreaSettings" (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Delivery Locations:</label>
      <div class="col-sm-6">
        <angular2-multiselect [data]="dropdownlocationList" [(ngModel)]="selectedlocationsItems" [settings]="dropdownlocationSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2">Commision:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Commision" [(ngModel)]="newVendorDetail.commision">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Service Taxs:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Service Tax" [(ngModel)]="newVendorDetail.serviceTax">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Min Order Value:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Min Order Value" [(ngModel)]="newVendorDetail.minOrderValue">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Delivery Time:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Delivery Time" [(ngModel)]="newVendorDetail.deliveryTime">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"> Payment Option:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Payment Option" [(ngModel)]="newVendorDetail.paymentOption">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Resturant Type:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Resturant Type" [(ngModel)]="newVendorDetail.resturantType">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Delivery Cost Amount:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Delivery Cost Amount" [(ngModel)]="newVendorDetail.deliveryCostAmount">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Delivery Cost KM:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Delivery Cost KM" [(ngModel)]="newVendorDetail.deliveryCostKM">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Delivery Additional Cost KM:</label>
      <div class="col-sm-6">

        <input type="text" class="form-control" placeholder=" Delivery Additional Cost KM" [(ngModel)]="newVendorDetail.deliveryAdditionalCostKM">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2">Status:</label>
      <div class="dropdown  col-sm-2">
        <select class="form-control" [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="back()">Back</button>
      </div>

    </div>

  </div>
</div>