.banner_text h1 {
    color: #ffffff;
    font: 36px 'latoregular';
    font-family: 'Lato', sans-serif;
    
    margin: 115px 0 15px;
}
.banner_text h2 {
    color: #ffffff;
    font: 18px/30px 'latoregular';
    margin: 0px;
}
.background{
    margin-top: 20px;
    
}

.formset{
    height: 50px;
   
    
}
.gap{
    margin-left: -22px;
    
    
}
.searchset{
    width: 100%;
    height: 42px;
    
}
