<!-- heading -->
<div class="col-md-10 col-md-offset-1">

  <div class="banner_text text-center">
    <h1>Get Eat And Sip to taste new food at your place</h1>
    <h2>Discover and place orders at restaurants that deliver food to your homes!</h2>

  </div>
</div>
<!-- heading end -->

<!-- banner -->
<div class="col-xs-8 col-xs-offset-2 col-md-10"  >
  <!-- <form  #loginForm="ngForm" > -->
    <form [formGroup]='myForm'>
  <!-- citie dropdown -->
  <div class="form-group">
    
    <div class="col-sm-4 col-xs-10  " >
      <angular2-multiselect formControlName="city"
       [data]="dropdownCityList"
       [(ngModel)]="selectedCityItems"
       [settings]="dropdownCitySettings" 
       (onSelect)="onItemSelect($event)"
       (onDeSelect)="OnItemDeSelect($event)"
       required ></angular2-multiselect>

    </div>
  </div>
  <!-- citie dropdown end -->

  <!-- areas input -->
  <div class="form-group">
    
    <div class="col-sm-4 col-xs-10 " >
      <angular2-multiselect formControlName="area" 
      [data]="dropdownAreaList" [(ngModel)]="selectedAreaItems"
      [settings]="dropdownAreaSettings" 
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="OnItemDeSelect($event)"
      required ></angular2-multiselect>

    </div>
  </div>
 
 <!-- areas input end-->

  <!-- search button -->
  <div  class="col-md-1 col-xs-1 gap">
    <span class="input-group-btn">
        <a ><button  type="submit"    class="btn btn-default searchset" [disabled]='!myForm.valid' (click)="resturants()" ><span class="glyphicon glyphicon-search" ></span></button>
        </a>
  </span>
  </div>
 
</form>
  <!-- search button  end-->

</div>
<!-- banner end -->








