<div class="well marginwell" *ngIf="subcategory">
  <h4>Update Sub Category</h4>
  

    <div class="form-horizontal">

      <div class="form-group">
        <label class="control-label col-sm-2">Sub Category Name:</label>
        <div class="col-sm-6">

          <input type="text" class="form-control" [(ngModel)]="subcategory.name">
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" >Select Category:</label> 
        <div class="dropdown  col-sm-2">
          <select class="form-control"[(ngModel)]="subcategory.parentCategory">
                         
            <option *ngFor=" let categorie of categories" [ngValue]="categorie.name">{{categorie.name}}
              
                    </option>
                      
                      </select>
                      
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" >Status:</label> 
        <div class="dropdown  col-sm-2">
          <select class="form-control" [(ngModel)]="subcategory.sucCategoryStatus">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="update(subcategory)">Update</button>
          <button class="btn btn-default" (click)="back()">Back</button>
        </div>

      </div>

    </div>
  </div>







<!-- <div *ngIf="subcategory">
  <h4>{{subcategory.Name}} Details</h4>
  <div>
    {{subcategory| json}}
    <input type="text" placeholder="Name" [(ngModel)]="subcategory.name" required><br><br> {{subcategory.parentCategory}}
    <select class="form-control" [(ngModel)]="subcategory.parentCategory">
  <option *ngFor=" let categorie of categories" [ngValue]="categorie.name">{{categorie.name}}
      
            </option>
 

</select>
    <select class="form-control" [(ngModel)]="subcategory.sucCategoryStatus">
    
    <option  >Active</option>
    <option >Deactive </option>

</select>

  </div>
  <br>
  <button class="btn " (click)="update(subcategory)">Update</button>
  <button class="btn btn-default" (click)="back()">Back</button>
</div> -->