<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <h3>Dear, Faisal khan</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your Mobile No.We have sent you an email "faisalkhan.chat@gmail.com" with your details
Please go to your above email now and login.</p>
        <a [routerLink]="['/'] " class="btn btn-success">     Home      </a>
    <br><br>
        </div>
        
	</div>
</div>