
  <div class="container background">
    
    <div class="row">
    
    <div class="col-md-12 size">
      <div class="col-md-5 text1">
          <p><span class="glyphicon glyphicon-tasks"></span>1.Your order</p>
      </div>
      <div class="col-md-5 col-md-offset-1 text2">
          <p><span class="glyphicon glyphicon-lock"></span>
              2. Secure Checkout</p>
      </div>
    </div>
    <!-- form strt -->
    <div class="col-md-12 formdesign">
        <hr>
      <p>Required fields<span style="color:red">*</span></p>
      <hr>
      
      <div class="col-md-6">  
          <div class="form-group">
              <label for="firstname">First Name<span style="color:red">*</span></label>
              <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
          </div>

          <div class="form-group">
              <label for="firstname">Mobile Number<span style="color:red">*</span></label>
              <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
          </div>
          <p>You will receive an sms with regarding your orders</p>
      </div>



      <div class="col-md-6">
          <div class="form-group">
              <label for="firstname">Last Name<span style="color:red">*</span></label>
              <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
          </div>

          <div class="form-group">
              <label for="firstname">Email Adress<span style="color:red">*</span></label>
              <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
          </div>
          <p>
              You will receive an email with your order details</p>
      </div>
     
      <div class="col-md-12">
        <hr>
        <p>Your delivery address <span style="color:red">*</span></p>
        <hr>
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstname">Your Adress</label>
                <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
            </div>

        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="firstname">Flat No. / House No.<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="firstname" placeholder="Firstname" required="">
            </div>

        </div>
        
      </div>
      <a [routerLink]="['/success'] " ><h4 class="text-center">
        <hr>
          <input type="submit" name="submit" class="checkout checkout_place checkout_btn" value="Place order now">
          
        </h4></a>
    
    </div>
    
    <!-- form end -->
    
    </div>
  </div>