
.background{
    background: white;
    margin-top: 60px;
}
.size{
    margin-bottom: 40px;
}
.text1{
    margin-top: 15px;
    background: white;
    border-radius: 8px;
    height: 45px;
    border: 1px solid;

}
.text1 p{
    padding-top: 10px;
    font-size: 15px;
}
.text1 p span{
    color: #cf1e54;
    padding-right: 9px;
    font-size: 22px;
    padding-left: 9px;
}
.text2{
    margin-top: 15px;
    background:  #e7e7e7;
    border-radius: 8px;
    height: 45px;
    border: 1px solid;

}
.text2 p{
    padding-top: 10px;
    font-size: 15px;
}
.text2 p span{
    color: #cf1e54;
    padding-right: 9px;
    font-size: 22px;
    padding-left: 9px;
}

.formdesign{
    border:1px solid;
    /* height: 300px; */
}
 h4 .checkout{
    
    border-radius: 5px;
    background: #cf1e54;
    color: #fff;
    height: 43px;
    font: 15px/40px 'latoregular';
    width: 200px;
    margin: 0 auto;
}