
 <div class="well marginwell" *ngIf="country">
    <h4>Update  Country</h4>
   
        
        <div class="form-horizontal" >
          <form [formGroup]='myform'> 
          <div class="form-group">
            <label class="control-label col-sm-2" >Country Name:</label>
            <div class="col-sm-6">
      
              <input type="text" class="form-control"  formControlName="cname"   [(ngModel)]="country.name" required >
            </div>
          </div>
         
          <div class="form-group">
            <label class="control-label col-sm-2" >Country ISO Code:</label>
            <div class="col-sm-6">          
              <input type="text" formControlName="cisocode"  class="form-control"[(ngModel)]="country.ISOcode" required>
            </div>
          </div>
            <div class="form-group">   
                <label class="control-label col-sm-2" >Status:</label>
            <div class="dropdown col-sm-2">
                <select class="form-control" formControlName="status" required [(ngModel)]="country.countryStatus" (click)="status(country,country.countryStatus)" required>
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
              </div>
            </div>
            
              
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" [disabled]='!myform.valid' (click)="update(country)">Update</button>
                <button  class="btn btn-default" (click)="back()">Back</button>
              </div>
    
            </div>
          </form>
          </div>
      </div>
    
  
 
 <!-- <div *ngIf="country">
    <h4>{{country._id}} Details</h4>
<div  >
 
  <input type="text" placeholder="Country Name"  [(ngModel)]="country.name"  required><br><br>
  <input type="text" placeholder="Iso"  [(ngModel)]="country.ISOcode" required><br><br>
  <select  [(ngModel)]="country.countryStatus" (click)="status(country.countryStatus)">
    
    <option >Active</option>
    <option >Deactive </option>

</select>
 
</div >
<br>
<button class="btn " (click)="update(country)">Update</button>
<button class="btn " (click)="back()">Back</button>
</div> -->