
<div class="container " style="margin-top: 100px;     width: 100%; ">
 <div class="row">

    <div class="col-md-5 col-md-offset-4" style="padding: 1% 8% 3% 8%;  background: white;  width: 40%; border-radius:20px; margin-left:30%;">
      <h2> Sign In</h2> <br>
      <p><b>Demo Login detials</b> <br/></p>

      <br>

      <div class="row">
        <div class="form-group col-md-12" id="">
          <div class="form-group  required">
            <label class="form-label">Email</label>
            <input type="text" class="form-control top" placeholder="Email" [(ngModel)]="login.email">


          </div>
          <div class="form-group required">
            <label class="form-label">Password</label>
            <input type="password" class="form-control bottom" placeholder="password" [(ngModel)]="login.password">


          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-5" style="clear: both;  text-align: center;     margin-right: -30px; float: right;">
          <button type="submit" class="btn  " (click)="signin()">Login</button>
        </div>
      </div>

    </div>
  </div></div>




 
 