<div class="nav">
<li>
  <a href="#"><i class="fa fa-arrows"></i> Manage Vendor<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a [routerLink]="[{ outlets: { myOutlet:['VendorDetails']} }]">Vendor Details</a>
    </li>
    <li>
        <a [routerLink]="[{ outlets: { myOutlet:['items']} }]">Vendor Items</a>
      </li>
      <li>
          <a [routerLink]="[{ outlets: { myOutlet:['orders']} }]">Manage Orders</a>
        </li>
    
    
  </ul>
 
</li>
</div>