<div class="nav ">
<li>
  
  <a href="#"><i class="fa fa-bell"></i> Manage Category<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a [routerLink]="[{ outlets: { myOutlet:['Categories']} }]">Category</a>
    </li>
    <li>
      <a [routerLink]="[{ outlets: { myOutlet:['SubCategories']} }]">Sub-Category</a>
    </li>
    
  </ul>
  <!-- /.nav-second-level -->
</li>
</div>