
 <div class="well marginwell" *ngIf="category">
  <h4>Update  Category</h4>
 
      
      <div class="form-horizontal" >
      
        <div class="form-group">
          <label class="control-label col-sm-2" >Category Name:</label>
          <div class="col-sm-6">
    
            <input type="text" class="form-control"   [(ngModel)]="category.name"  >
          </div>
        </div>
       
      
          <div class="form-group">   
              <label class="control-label col-sm-2" >Status:</label>
          <div class="dropdown col-sm-2">
              <select class="form-control"  [(ngModel)]="category.categoryStatus" (click)="status(category,category.categoryStatus)">
                  
                  <option  >Active</option>
                  <option >Deactive </option>
              
              </select>
            </div>
          </div>
          
            
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" (click)="update(category)">Update</button>
              <button  class="btn btn-default" (click)="back()">Back</button>
            </div>
  
          </div>
        
        </div>
    </div>
  





<!-- <div *ngIf="category">
    <h4>{{category._id}} Details</h4>
<div  >
 
  <input type="text" placeholder="Name"  [(ngModel)]="category.name"  required><br><br>
  <select class="form-control"  [(ngModel)]="category.categoryStatus" >
    
    <option  >Active</option>
    <option >Deactive </option>

</select>
  
  
 
</div >
<br>
 <button class="btn " (click)="update(category)">Update</button>
 <button  class="btn btn-default" (click)="back()">Back</button>
</div> -->