<div class="col-xs-4 col-sm-4 col-md-2 col-md-offset-1 col-xs-offset-1 background shadow">
    
       <div class="panel-group">
          
            <div class="panel-heading background">
              <h3 class=" ">
                <a data-toggle="collapse" href="#collapse1">Cuisines</a>
              </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel">Panel Body</div>
              <div class="panel">Panel Body</div>
              <div class="panel">Panel Body</div>
              
            </div>
          
        </div>
</div>
    