

.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}
.col-lg-3 {
    /* width: 20%; */
}
.background
{
    background: white;
    /* height: 350px; */
    
}
a {
    color: #000;
    text-decoration: none;
    
}
h3 a {
    width: 100%;
    color: #000;
    font: 16px 'latoregular';
    display: inline-block;
    /* //background: url(../images/filter-arrow.png) no-repeat 95% center; */
}
.panel{
    padding-left: 10px;
    /* padding-top: 10px; */
    padding-bottom: 6px;
    box-shadow: none;
    
}
.shadow{
    -webkit-box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
    -moz-box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
    box-shadow: -2px 12px 55px -7px rgba(181,172,172,1);
}