<div  *ngIf="isCreate">
    <div class="margin">
        <button type="button" class="btn btn-primary" (click)="createCuisine()">Create Cuisine</button>
    </div>
    
      
    
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>CuisineName</th>
            <th>Cuisine Sort Order</th>
            <th>Cuisine Status</th>
            <th>Cuisine Created Date</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cuisine of cuisines let i=index">
            <th scope="row">{{i+1}}</th>
            <td> {{cuisine.name}}</td>
            <td>{{cuisine.sortOrder}}</td>
            <td>{{cuisine.cusineStatus}}</td>
            <td>{{cuisine.Created_date}}</td>
           
           
            <td> <button class="btn-xs"(click)="update(cuisine._id)">Update</button>
              <button class="btn-xs" (click)="delete(cuisine._id)">Delete</button></td>
          </tr>
         
        </tbody>
      </table>
    
    </div>
<!-- <div *ngIf="isCreate"> -->
<!-- <div>
  <button type="button" class="btn btn-primary" (click)="createCuisine()">Create Cuisine</button>
</div> -->


<!-- <div>
  <ul>
    <li *ngFor="let cuisine of cuisines">
      {{cuisine.name}}-{{cuisine.cusineStatus}}-{{cuisine.sortOrder}}
      <button class="btn-xs"(click)="update(cuisine._id)">Update</button>
      <button class="btn-xs" (click)="delete(cuisine._id)">Delete</button><br><br>
    </li>
  </ul>
</div> -->
<!-- </div> -->
<div *ngIf="isAdd">
  <app-add-cuisine (cuisine)="addCuisine($event) " (isBack)="showcuisinePage($event)"></app-add-cuisine>
</div>
<div *ngIf="isUpdate">
<app-update-cuisine (updatedCuisine)="updateCuisine($event)"(isBack)="showcuisinePage($event)" [updateCuisine]="cuisines" [updateId]="id"></app-update-cuisine>
</div>