<div *ngIf="isCreate" class="margin">
   
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Ingredint Type Name</th>
            <th>Ingredint  Name</th>
            <th>Ingredint Status</th>
            <th>Created Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredientList of ingredientLists; let i=index">
            <!-- <div *ngFor="let listname of listnamestring let j=index"> -->
            <th scope="row">{{i+1}}</th>
            <td >{{ingredientList.ingredienttypename}}</td>
            <td>{{ingredientList.IngredientType}}</td>
            <td>{{ingredientList.IngredientListStatus}}</td>
            <td>{{ingredientList.Created_date}}</td>
            <td> 
              <button class="btn-xs" (click)="delete(ingredientList._id)">Delete</button></td>
            <!-- </div> -->
          </tr>
         
        </tbody>
      </table>
    
    
    </div>