<div  *ngIf="isCreate">
    <div class="margin">
        <button type="button" class="btn btn-primary" (click)="createVendorDetail()">Create Vendor</button>
    </div>
    
      
    
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Vendor Name</th>
            <th>Vendor Email</th>
            <th>Vendor Status</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vendorDetail of vendorDetails let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{vendorDetail.vendorName}}</td>
            <td>{{vendorDetail.email}}</td>
            <td>{{vendorDetail.vendorStatus}}</td>
           
            <td> <button class="btn-xs"(click)="update(vendorDetail._id)">Update</button>
              <button class="btn-xs" (click)="delete(vendorDetail._id)">Delete</button></td>
          </tr>
         
        </tbody>
      </table>
    
    </div>
<!-- <div *ngIf="isCreate">
  <div>
    <button type="button" class="btn btn-primary" (click)="createVendorDetail()">Create Vendor</button>
  </div>


<div>
  <ul>
    <li *ngFor="let vendorDetail of vendorDetails">
     {{vendorDetail.vendorName}}-{{vendorDetail.email}}
      <button class="btn-xs"(click)="update(vendorDetail._id)">Update</button>
      <button class="btn-xs" (click)="delete(vendorDetail._id)">Delete</button><br><br>
    </li>
  </ul>
</div>
</div> -->
<div *ngIf="isAdd">
  <app-add-vendor (vendorDetail)="addVendorDetail($event) " (isBack)="showVendorPage($event)"></app-add-vendor>
</div>
<div *ngIf="isUpdate">
<app-update-vendor (updatedVendorDetail)="updateVendorDetail($event)"(isBack)="showVendorPage($event)" [updateVendorDetail]="vendorDetails" [updateId]="id"></app-update-vendor>
</div>