
 <div class="well marginwell" *ngIf="city">
    <h4>Update  City</h4>
    
        
        <div class="form-horizontal" >
          <form [formGroup]='myform'> 
          <div class="form-group">
            <label class="control-label col-sm-2" >City Name:</label>
            <div class="col-sm-6">
      
              <input type="text" class="form-control" formControlName="cname" required  [(ngModel)]="city.name" >
            </div>
          </div>
         
          <div class="form-group">   
              <label class="control-label col-sm-2" >Select Country:</label>
              <div class="dropdown  col-sm-2">
                  <select class="form-control"  [(ngModel)]="city.countryName"  formControlName="scountry" required >
                      <option *ngFor=" let country of countries" [ngValue]="country.name">{{country.name}}
                          
                                </option>
                     
                  
                  </select>
                </div>
              </div>
            <div class="form-group">   
                <label class="control-label col-sm-2" >Status:</label>
            <div class="dropdown col-sm-2">
                <select class="form-control"  formControlName="status" required  [(ngModel)]="city.cityStatus" (click)="status(city,city.cityStatus)">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
              </div>
            </div>
            
              
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" (click)="update(city)" [disabled]='!myform.valid'>Update</button>
                <button  class="btn btn-default" (click)="back()">Back</button>
              </div>
    
            </div>
          </form>
          </div>
      </div>
    
  
 

 
