
.fading-side-menu h5{
    display: inline-block;
    font: 15px/22px 'latoregular';
    color: #000;
    background: url(../../../assets/user/detailhead-icon.png) no-repeat 15px 13px;
    padding: 12px 0 0 40px;
    min-height: 45px;
    margin: 0;
}
.background{
    background: white;
}
/* .fading-side-menu.affix-top {
    opacity: 1; 
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
    
} */

.fading-side-menu a {
    color: rgb(102, 102, 102);
    text-decoration: none;
    display: inline-block;
    font: 15px/22px 'latoregular';
    color: #000;
    padding: 12px 0 0 40px;
    min-height: 45px;
    margin: 0;
    
}
.fa-angle-double-right{
    color: #d70f64;
}
.fading-side-menu a .fa {
    padding-right:15px;
}