
  <div class="col-xs-12 col-md-3 col-md-offset-1  background">
      <div class="fading-side-menu">
          <h5>Cascade Restaurant Items</h5><hr class="no-margin">
          <ul class="list-unstyled">
              <li>
                  <a href="#intro">
                      <span class="fa fa-angle-double-right text-primary"></span>Rice
                  </a>
              </li>
              <li>
                  <a href="#getting-started">
                      <span class="fa fa-angle-double-right text-primary"></span>Rice & Noodles
                  </a>
              </li>
              <li>
                  <a href="#setting-up-our-page">
                      <span class="fa fa-angle-double-right text-primary"></span>Chaats
                  </a>
              </li>
              <li>
                  <a href="#conclusion">
                      <span class="fa fa-angle-double-right text-primary"></span>Thalis & Meals
                  </a>
              </li>
          </ul>
      </div>
  