
<div class="well marginwell">
    <h4>Add new City</h4>
   
        
        <div class="form-horizontal" >
          <form [formGroup]='myform'> 
          <div class="form-group">
            <label class="control-label col-sm-2" >City Name:</label>
            <div class="col-sm-6">
      
              <input type="text" class="form-control"  formControlName="cname" required placeholder="City Name"  [(ngModel)]="newCity.name" >
            </div>
          </div>
          <div class="form-group">  
              <label class="control-label col-sm-2" >Select Country:</label> 
              <div class="col-sm-2">
                  <app-drop-down-coutries (countryName)="newCity.countryName=$event"  ></app-drop-down-coutries>
              </div>
              </div>
         
          <div class="form-group">   
              <label class="control-label col-sm-2" >Status:</label> 
              <div class="dropdown col-sm-2">
                  <select class="form-control"  formControlName="status" required  [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
                      
                      <option  >Active</option>
                      <option >Deactive </option>
                  
                  </select>
                </div>
              </div>
            
              
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" [disabled]='!myform.valid' (click)="save()">Save</button>
                <button  class="btn btn-default" (click)="back()">Back</button>
              </div>
    
            </div>
          </form>
          </div>
      </div>
    
  

 
  <!-- <app-drop-down-coutries (countryName)="newCity.countryName=$event"></app-drop-down-coutries><br><br>
  <input type="text" placeholder="City  Name"  [(ngModel)]="newCity.name" >
  <select  [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
    
    <option  >Active</option>
    <option >Deactive </option>

</select>
 

<br>
<div>
 <button class="btn "  (click)="save()">Save</button>
  <button class="btn " (click)="back()">Back</button>
  
</div>
  -->
