

  
<div  *ngIf="isCreate">
<div class="margin">
  <button type="button" class="btn btn-primary" (click)="createCountry()">Create Country</button>
</div>

  


<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Country Name</th>
        <th>Country ISO Code</th>
        <th>Country Status</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{country.name}}</td>
        <td>{{country.ISOcode}}</td>
        <td>{{country.countryStatus}}</td>
       
        <td> <button class="btn-xs"(click)="update(country._id)">Update</button>
          <button class="btn-xs" (click)="delete(country._id)">Delete</button></td>
      </tr>
     
    </tbody>
  </table>

</div>
<div *ngIf="isAdd">
  <app-add-country (country)="addCountry($event)"  (isBack)="showCountriesPage($event)"></app-add-country>
</div>
<div *ngIf="isUpdate">
<app-update-country (updatedCountry)="updateCountry($event)"(isBack)="showCountriesPage($event)" [updateCountry]="countries" [updateId]="id"></app-update-country>
</div>
