<div *ngIf="isCreate">
  <div class="margin">
    <button type="button" class="btn btn-primary" (click)="createsubCategory()">Create Sub Category</button>
  </div>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Sub Category Name</th>
          <th>Category Name</th>
          <th>Category Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subcategory of subcategories let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{subcategory.name}}</td>
          <td>{{subcategory.parentCategory}}</td>
          <td>{{subcategory.sucCategoryStatus}}</td>
          <td> <button class="btn-xs"(click)="update(subcategory,subcategory._id)">Update</button>
            <button class="btn-xs" (click)="delete(subcategory._id)">Delete</button></td>
        </tr>
       
      </tbody>
    </table>
  
  
  </div>
<!-- <div *ngIf="isCreate">
<div>
  <button type="button" class="btn btn-primary" (click)="createsubCategory()">Create subCategory</button>
</div>



<div>
  <ul>
    <li *ngFor="let subcategory of subcategories">
      {{subcategory._id}}-{{subcategory.parentCategory}}-{{subcategory.name}}-{{subcategory.sucCategoryStatus}}

      <button class="btn-xs"(click)="update(subcategory._id)">Update</button>
      <button class="btn-xs" (click)="delete(subcategory._id)">Delete</button><br><br>
    </li>
  </ul>
</div>
</div> -->

<div *ngIf="isAdd">
  <app-add-sub-category (subcategory)="addsubCategory($event) "(isBack)="showSubCategoriesPagePage($event)"></app-add-sub-category>
</div>
<div *ngIf="isUpdate">
<app-update-sub-category (updatedsubCategory)="updatesubCategory($event)"(isBack)="showSubCategoriesPagePage($event)" [updatesubCategory]="subcategories" [updateId]="id"></app-update-sub-category>
</div>