

    <select  class="form-control" [(ngModel)]="selectedSubCategory" (click)="hah()" (ngModelChange)="getSelectedSubCategory(selectedSubCategory)" >
        
         <option *ngFor=" let subCategory of subCategories" [ngValue]="subCategory.name">{{subCategory.name}}
    
         </option>
    
    </select>
    

