<app-home-header></app-home-header>



<!-- 
<div *ngIf = "url == '/' ">
    <app-home-header></app-home-header>
    <app-content></app-content>
</div> -->
<!-- <div *ngIf = "url == '/' "> -->
    <!-- <app-home-header></app-home-header> -->
    <!-- <app-content></app-content>
    
</div> -->
<!-- <div *ngIf = "url == '/restaurant' "> -->
    <!-- <app-home-header></app-home-header> -->
    <!-- <router-outlet></router-outlet>
</div> -->

<!-- <div *ngIf = "url == '/restaurants' ">
    <!-- <app-home-header></app-home-header> -->
    <!-- <router-outlet></router-outlet> -->
<!-- </div> --> 
<div *ngIf = "url == '/review-order' ">
    <!-- <app-home-header></app-home-header> -->
    <router-outlet></router-outlet>
</div>
<div *ngIf = "url == '/checkout' ">
    <!-- <app-home-header></app-home-header> -->
    <router-outlet></router-outlet>
</div>
<div *ngIf = "url == '/success' ">
    <!-- <app-home-header></app-home-header> -->
    <router-outlet></router-outlet>
</div>
