<div class="col-xs-7 col-sm-7 col-md-7"  >
<div *ngFor=" let item of currentVendoritems " class="col-xs-11 col-sm-11 col-md-12" >

  <div class="col-md-12  background">
<h4>{{item.itemName}}</h4>
  </div>

 
      
    <div class="col-md-12  col-xs-12 backgroundbt ">

     

        <div class="col-md-8 col-xs-8 ">
            <h4 class="text-left"><img src="../../../assets/user/green-vallet.png" class="imgset">{{item.cuisine}}</h4>
          
        </div>

     
      <div class="col-md-3 col-xs-4 "style="float:right">

          
            <p >{{item.itemPricePerUnit}}Rps<button class=" btn  plussign " (click)="plusclick(item)">+</button></p>
          
     </div>    
</div>

  
  
  <div class="col-md-12 col-xs-12 backgroundbt ">

      <hr><h5 class="text1">{{item.subCategory}}</h5>
  </div>

</div>
</div>