.background{
    background: white; 
    margin-left: 8px;
    margin-bottom: 6px;
    margin-top: 26px;
}
.backgroundbt{
    background: white; 
    margin-left: 8px;
   padding-top: 8px;

}
.imgset{

    padding-right: 5px;
    
}
.text1{
    padding-left: 35px;
}
hr
{
    margin-top: 0px;
}

.plussign {
    font: white; 
    background: url(../../../assets/user/plus_det.png) no-repeat right center;
    display: inline-block;
    font-size: 0;
    width: 20px;
    height: 20px;
    float: right;
}


/* ............................. */


