<div class="nav">
<li>
  <a href="#"><i class="fa fa-cutlery"></i> Manage Cuisines<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a [routerLink]="[{ outlets: { myOutlet:['Cuisines']} }]">Cuisines</a>
    </li>
    
  </ul>
  <!-- /.nav-second-level -->
</li>
</div>