<!-- <p>
  manage-city works!
</p> -->
<div *ngIf="isCreate">
<div class="margin">
  <button type="button" class="btn btn-primary two" (click)="createCity()">Create City</button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>City Name</th>
        <th>Country Name</th>
        <th>City Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{city.name}}</td>
        <td>{{city.countryName}}</td>
        <td>{{city.cityStatus}}</td>
        <td> <button class="btn-xs"(click)="update(city,city._id)">Update</button>
          <button class="btn-xs" (click)="delete(city._id)">Delete</button></td>
      </tr>
     
    </tbody>
  </table>


</div>
<div *ngIf="isAdd">
  <app-add-city (city)="addCity($event)  " (isBack)="showCitiesPage($event)"></app-add-city>
</div>
<div *ngIf="isUpdate">
<app-update-city (updatedCity)="updateCity($event)"(isBack)="showCitiesPage($event)" [updateCity]="cities" [updateId]="id"></app-update-city>
</div>