
.background{
    background: white;
    margin-top: 60px;
}
.size{
    height: 500px;
}
.text1{
    margin-top: 15px;
    background: #e7e7e7;
    border-radius: 8px;
    height: 45px;

}
.text1 p{
    padding-top: 10px;
    font-size: 15px;
}
.text1 p span{
    color: #cf1e54;
    padding-right: 9px;
    font-size: 22px;
    padding-left: 9px;
}
.text2{
    margin-top: 15px;
    background: white;
    border-radius: 8px;
    height: 45px;
    border: 1px solid;

}
.text2 p{
    padding-top: 10px;
    font-size: 15px;
}
.text2 p span{
    color: #cf1e54;
    padding-right: 9px;
    font-size: 22px;
    padding-left: 9px;
}
.setcheck{
    margin-top: 40px;
}