<div *ngIf="!showcheckout" class="container background">

    <div class="row">

        <div class="col-md-12 size">
            <div class="col-md-5 text1">
                <p><span class="glyphicon glyphicon-tasks"></span>1.Your order</p>
            </div>
            <div class="col-md-5 col-md-offset-1 text2">
                <p><span class="glyphicon glyphicon-lock"></span> 2. Secure Checkout</p>
            </div>
            <div class="col-md-12 setcheck">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Item</th>
                            <th>QTY</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                        <tr *ngFor="let order of orderetail let i=index">
                            <td>{{order.itemName}}</td>
                            <td>1 <a href="#">X</a></td>
                            <td>{{order.itemPrice}}</td>
                            <td>{{order.itemPrice}}</td>
                        </tr>
                        <tr>
                            <th colspan="3"><span class="pull-right">Sub Total</span></th>
                            <th>{{totalPrice}}</th>
                        </tr>
                        <tr>
                            <td><a class="btn btn-primary">Continue Shopping</a></td>
                            <td colspan="3"><a (click)="checkout()" class="pull-right btn btn-success">Checkout</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div *ngIf="showcheckout">
        <app-checkout></app-checkout>
    </div>