<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
        
        <!-- down nav -->
        <nav class="navbar navbar-down">
          <div class="container">
            <div class="flex-container">  
              <div class="navbar-header flex-item">
                <div class="navbar-brand" href="#">Eat&Sip</div>
              </div>
              <ul class="nav navbar-nav flex-item hidden-xs">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Pricing</a></li> 
                <li><a href="#">TheTeam</a></li> 
              </ul>
              <!-- <ul class="nav navbar-nav flex-item hidden-xs pull-right">
                <li><a href="#" class="">offer!</a></li> 
              </ul> -->
              <!-- dropdown only moblie -->
                <div class="dropdown visible-xs pull-right">
                  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-align-justify"></span> 
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Pricing</a></li> 
                    <li><a href="#">TheTeam</a></li> 
                    <!-- <li role="separator" class="divider"></li>
                    <li><a href="#">contact us</a></li> -->
                  </ul>
                </div>
              </div>  
            </div>
          </nav>
          <!-- <div class="dividline light-grey"></div> -->
        </nav> 
         
      <!--bg img  -->
        