
 <div class="well marginwell">
    <h4>Add New IngredientType</h4>

    <div class="form-horizontal">
        
            <div class="form-group">
              <label class="control-label col-sm-3">IngredientType Name:</label>
              <div class="col-sm-6">
        
                <input type="text" class="form-control"  [(ngModel)]=" newIngredientType.name" >
              </div>
            </div>
        
        
            <div class="form-group">
              <label class="control-label col-sm-3">Status:</label>
              <div class="dropdown col-sm-2">
                <select class="form-control" [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
                            
                            <option  >Active</option>
                            <option >Deactive </option>
                        
                        </select>
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-3">add list of Ingredients</label>
              <label class="radio-inline col-sm-1">
                            <input type="radio" #myRadioyes name="optionsRadiosInline" id="" value="yes"  (click)="showList( 'yes')">yes
                        </label>
              <label class="radio-inline">
                            <input type="radio"#myRadiono name="optionsRadiosInline"  id="" value="no"  (click)="showList('no')">no
                        </label>
        
            </div>
            <div *ngIf="showListOfIngredients" class="form-group">
              <div *ngFor="let ingredientlist of ingredientlists ;let i=index ;let last = last;let first = first">
                <div class="form-group">
                  <label class="control-label col-sm-3">Name:</label>
                  <div class="col-sm-2">
        
                    <input type="text" class="form-control" [(ngModel)]=" ingredientlists[i].name">
                  </div>
                  <label class="control-label col-sm-1">Price:</label>
                  <div class="col-sm-2">
        
                    <input type="text" class="form-control" [(ngModel)]=" ingredientlists[i].price">
                  </div>
                  <div *ngIf="last"class="col-sm-1 top">
                    <i class=" fa fa-plus" aria-hidden="false" (click)="pluslsit(i+1)"></i>
                    
                  </div>
                  <div *ngIf="last"class="col-sm-1 minus top">
                     
                      <i class=" fa fa-minus " aria-hidden="false" (click)="minuslist(i)"></i>
                      </div>
        
                </div>
              </div>
            </div>
        
        
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" (click)="save()">Save</button>
                <button class="btn btn-default" (click)="back()">Back</button>
              </div>
        
            </div>
        
          </div>
 