<div *ngIf="!revieworder">
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="col-xs-7 col-sm-6 col-md-9 col-md-offset-1 bottom " >
    <ul class="new breadcrumb"><li><a href="/">Home</a></li>
    <li class="active"><a href="">Restaurants</a></li>
    <li class="active"><a href="">{{currentVendor.vendorName}}</a></li>
    </ul>

    </div>
  <div class="pull-right col-md-2">
      <a (click)="reviewOrder()" style="cursor:pointer;" ><i class="fa fa-2x fa-shopping-cart" ></i></a>
    <div id="cart-badge" class="badge badge-warning">{{value}}</div>
  </div>
   
    
  </div>
  
</div>
</div>
<br>
<app-restaurant-items></app-restaurant-items>
<app-restaurant-menu  (orders)="addToCart($event)" (count)="onCount($event)" [currentVendor]="currentVendor"></app-restaurant-menu>
</div>

<div *ngIf="revieworder">
<app-review-order [orderetail]="orderDetail"></app-review-order>


</div>