.container{
    width: 100%;
    background:white;
    margin-bottom: 20px;    
}
.new.breadcrumb {
    background: white;
    /* margin-bottom: 16px; */
    padding: 5px 15px 0px;
    border-radius: 4px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #666666;
}

ul {
    margin-top: 0;
    /* margin-bottom: 10px; */
}
.breadcrumb>li {
    /* float: left; */
    color: #666666;
    font: 16px 'latoregular';
    padding: 20px 0 0;
  
}
.badge {
    
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    
  }
   .plussign {
      
       background-color:pink;
    
        display: inline-block;
        
        font-size: 0;
        vertical-align: middle;
        width: 20px;
        height: 20px;

} 
.pull-right{
    margin-top: 12px;
}