


  

<select  class="form-control"  required required name="status" #status="ngModel" [(ngModel)]='selectedCountry' (ngModelChange)="getSelectedCountry(selectedCountry)" >
     
      <option *ngFor=" let country of countries" [ngValue]="country.name">{{country.name}}

      </option>
 
</select>

