.container{
    width: 100%;
    background:white;
}
.new.breadcrumb {
    background: white;
    margin-bottom: 16px;
    padding: 5px 15px 0px;
    border-radius: 4px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #666666;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.breadcrumb>li {
    /* float: left; */
    color: #666666;
    font: 16px 'latoregular';
    padding: 20px 0 0;
    display: inline-block;
}

