
<div class="well marginwell" >
    <h4>Update Profile</h4>
    
  
      <div class="form-horizontal">
  
          <div class="form-group">
              <label class="control-label col-sm-2">Name:</label>
              <div class="col-sm-6">
      
                <input type="text" class="form-control" [(ngModel)]="userName" [readonly]="readonly">
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-6">
        
                  <input type="text" class="form-control" [(ngModel)]="email" [readonly]="readonly">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2">Address:</label>
                  <div class="col-sm-6">
          
                    <input type="text" class="form-control" [(ngModel)]="address" [readonly]="readonly">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Phone :</label>
                    <div class="col-sm-6">
            
                      <input type="text" class="form-control" [(ngModel)]="phone" [readonly]="readonly">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-2">Type:</label>
                      <div class="col-sm-6">
              
                        <input type="text" class="form-control" [(ngModel)]="type" [readonly]="true">
                      </div>
                    </div>
  
       
    
  
  
                    <div class="form-group">
                        <div  *ngIf="isUpdate"class="col-sm-offset-2 ">
                            <button class="btn btn-default" (click)="update()" style="    margin-left: 15px;">Update</button>
                           
                            
                          </div>
                        <div *ngIf="updateNow" class="col-sm-offset-2 ">
                          <button class="btn btn-success" (click)="updatenow()" style="    margin-left: 15px;">Update</button>
                         
                          
                        </div>
                        <div *ngIf="isBack" class="col-sm-offset-3" style=" margin-top: -34px;">
                            
                            
                                  <button class="btn btn-default"   (click)="back()"  style="    margin-left: 10px;">Back</button>
                           
                              
                            </div>
                
                      </div>
                      
  
      </div>
    </div>
  
  
  
  
  
  
  