<div *ngIf="isCreate" class="margin">
    <div>
        <button type="button" class="btn btn-primary" (click)="createIngredientType()">Create IngredientType</button>
      </div>
     
     <table class="table table-striped">
         <thead>
           <tr>
             <th>#</th>
             <th>Ingredint Name</th>
             <th>Ingredint Status</th>
             <th>Created Date</th>
             <th>Actions</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let ingredientType of ingredientTypes; let i=index">
             <!-- <div *ngFor="let listname of listnamestring let j=index"> -->
             <th scope="row">{{i+1}}</th>
             <td >  {{ingredientType.name}}</td>
             <td>{{ingredientType.ingredientTypeStatus}}</td>
             <td>{{ingredientType.Created_date}}</td>
             <td> 
                <button class="btn-xs" (click)="update(ingredientType._id)">Update</button>
                <button class="btn-xs" (click)="delete(ingredientType._id ,i)">Delete</button>
              </td>
             <!-- </div> -->
           </tr>
          
         </tbody>
       </table>
     
     
     </div>



<!-- <div *ngIf="isCreate">
  <div>
    <button type="button" class="btn btn-primary" (click)="createIngredientType()">Create IngredientType</button>
  </div>


  <div>
    <ul>
      <li *ngFor="let ingredientType of ingredientTypes let i=index">
        {{ingredientType.name}}-{{ingredientType.ingredientTypeStatus}}
        <button class="btn-xs" (click)="update(ingredientType._id)">Update</button>
        <button class="btn-xs" (click)="delete(ingredientType._id ,i)">Delete</button><br><br>
      </li>
    </ul>
  </div>


</div> -->




<div *ngIf="isAdd">
  <app-add-ingredient (isBack)="showingredientPage($event)" 
  (ingredientType)="addIngredientType($event)"
   (ingredientList)="addIngredientList($event)" ></app-add-ingredient>
</div>




<div *ngIf="isUpdate">
  <app-update-ingredient (isBack)="showingredientPage($event)"
   [updateIngredientType]="ingredientTypes" 
   [updateId]="id"
   (updatedIngredientType)="updateIngredientType($event)"
   ></app-update-ingredient>
</div>