
<select  class="form-control" [(ngModel)]="selectedCategory" (ngModelChange)="getSelectedCategroy(selectedCategory)" >
     
      <option *ngFor=" let category of categories" [ngValue]="category.name">{{category.name}}

      </option>
 
</select>