<div class="well marginwell" *ngIf="area">
  <h4>Update Area</h4>
  

    <div class="form-horizontal">
      <form [formGroup]='myform'> 
      <div class="form-group">
        <label class="control-label col-sm-2">Area Name:</label>
        <div class="col-sm-6">

          <input type="text" class="form-control" formControlName="aname" required [(ngModel)]="area.name">
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" >Select Country:</label> 
        <div class="dropdown  col-sm-2">
          <select class="form-control" [(ngModel)]="area.countryName" formControlName="scountry" required>
                      <option *ngFor=" let country of countries" [ngValue]="country.name">{{country.name}}
                          
                                </option>
                     
                  
                  </select>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" >Select City:</label> 
        <div class="dropdown  col-sm-2">
          <select class="form-control" [(ngModel)]="area.cityName" formControlName="scity" required>
                         
  <option *ngFor=" let city of cities" [ngValue]="city.name">{{city.name}}
      
            </option>
                         
                      
                      </select>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" >Status:</label> 
        <div class="dropdown  col-sm-2">
          <select class="form-control" [(ngModel)]="area.areaStatus" formControlName="status" required (click)="status(area.areaStatus)">
                    
                    <option  >Active</option>
                    <option >Deactive </option>
                
                </select>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="update(area)" [disabled]='!myform.valid'>Update</button>
          <button class="btn btn-default" (click)="back()">Back</button>
        </div>

      </div>
</form>
    </div>
  </div>






