
<div class="well marginwell">
    <h4>Add new Area</h4>
    
        
        <div class="form-horizontal" >
            <form [formGroup]='myform'> 
          <div class="form-group">
            <label class="control-label col-sm-2" >Area Name:</label>
            <div class="col-sm-6">
      
              <input type="text" class="form-control" formControlName="aname" required placeholder="Area Name"  [(ngModel)]="newArea.name" >
            </div>
          </div>
          <div class="form-group">  
              <label class="control-label col-sm-2" >Select Country:</label> 
              <div class="col-sm-2">
                 <app-drop-down-coutries (countryName)="newArea.countryName=$event"></app-drop-down-coutries>
              </div>
              </div>
              <div class="form-group">  
                  <label class="control-label col-sm-2" >Select City:</label> 
                  <div class="col-sm-2">
                      <app-drop-down-cities (cityName)="newArea.cityName=$event"></app-drop-down-cities>
                  </div>
                  </div>
         
          <div class="form-group">   
              <label class="control-label col-sm-2" >Status:</label> 
              <div class="dropdown col-sm-2">
                  <select class="form-control" formControlName="status" required [(ngModel)]="isStatus" (ngModelClick)="status(isStatus)">
                      
                      <option  >Active</option>
                      <option >Deactive </option>
                  
                  </select>
                </div>
              </div>
            
              
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" (click)="save()" [disabled]='!myform.valid'>Save</button>
                <button  class="btn btn-default" (click)="back()">Back</button>
              </div>
    
            </div>
            </form>
          </div>
      </div>
    
  
 
