<div class="nav">
<li>
    <a href="#"><i class="fa fa-anchor"></i> Manage Address<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a [routerLink]="[{ outlets: { myOutlet:['Country']} }]">Country</a>
        </li>
        <li>
            <!-- <a [routerLink]="['/City']"> City</a> -->
            <a [routerLink]="[{ outlets: { myOutlet:['City']} }]"> City</a>
            <!-- [{ outlets: { list:['streams'], details:['parties'] } }]" -->
        </li>
        <li>
            <a [routerLink]="[{ outlets: { myOutlet:['Area']} }]"> Area</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>
</div>