#home_banner{
    
    background-image: url('../../../assets/home_banner.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.header_section{
    color: white;
}




.how_does_work {
    min-height: 307px;
    background: #ffffff;
    width: 100%}

.how_does h1 {
  color: #000000;
  font: 30px/65px 'latobold';
  margin-bottom: 25px;
}


.image_how {
    min-height: 56px;
    position: relative;
}
.how_does_common {
    min-height: 170px;
}


.how_does p {
    min-height: 60px;
}
.image_how > img {
    max-width: 100%
}
.how_does h3 
{
        color: #333333;
        font: 24px/8px 'latoregular';
        margin-bottom: 20px;
}
