<header id="home_banner">
      <div class="container">
            <div class="row">
                  <!-- <div class="col-md-12 header_section"> -->
                  <app-navigation-bar></app-navigation-bar>
                  <app-search-filter (searchLocation)=location($event)></app-search-filter>

                  <!-- </div> -->
            </div>
      </div>
</header>

<section *ngIf="url == '/' " class="how_does_work">

      <div class="container">
            <div class="row">
                  <div class="col-md-12">

                        <div class="how_does">
                              <h1 class="text-center">How does it work?</h1>


                              <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="how_does_common">
                                          <div class="image_how text-center">
                                                <img src="assets/user/home-search.png" alt="choose restaurent">
                                          </div>
                                          <h3 class="text-center">1. Search</h3>
                                          <p class="text-center">User can specify cuisine and search for such restaurants in locality</p>


                                    </div>
                              </div>


                              <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="how_does_common">
                                          <div class="image_how text-center">
                                                <img src="assets/user/home-choose.png" alt="order food">
                                          </div>
                                          <h3 class="text-center">2. Choose</h3>
                                          <p class="text-center">Browse hundreds of menus to find the food you like</p>


                                    </div>
                              </div>


                              <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="how_does_common">
                                          <div class="image_how text-center">
                                                <img src="assets/user/home-pay.png" alt="Get your food delivered">
                                          </div>
                                          <h3 class="text-center">3. Pay</h3>
                                          <p class="text-center">Make fast and secure payments through net or cash on delivery</p>

                                    </div>
                              </div>


                              <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="how_does_common">
                                          <div class="image_how text-center">
                                                <img src="assets/user/home-enjoy.png" alt="Get your food delivered">
                                          </div>
                                          <h3 class="text-center">
                                                4. Enjoy
                                          </h3>
                                          <p class="text-center">
                                                Food is prepared &amp; delivered to your door
                                          </p>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<div *ngIf="url == '/' ">
      <app-good-food></app-good-food>
</div>
<div *ngIf = "showrestaurants && url == '/restaurants' ">

<app-restaurants [vendors]="vendors"></app-restaurants>
</div>