<!-- <p>
  manage-area works!
</p> -->
<div *ngIf="isCreate">
<div class="margin">
  <button type="button" class="btn btn-primary" (click)="createArea()">Create Area</button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Area Name</th>
        <th>City Name</th>
        <th>Country Name</th>
        <th>City Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{area.name}}</td>
        <td>{{area.cityName}}</td>
        <td>{{area.countryName}}</td>
        <td>{{area.areaStatus}}</td>
        <td> <button class="btn-xs"(click)="update(area,area._id)">Update</button>
          <button class="btn-xs" (click)="delete(area._id)">Delete</button></td>
      </tr>
     
    </tbody>
  </table>

<!-- <div>
  <ul>
    <li *ngFor="let area of areas">
     {{area.name}}-{{area.cityName}}-{{area.countryName}}-{{area.areaStatus}}
      <button class="btn-xs"(click)="update(area,area._id)">Update</button>
      <button class="btn-xs" (click)="delete(area._id)">Delete</button><br><br>
    </li>
  </ul>
</div> -->
</div>
<div *ngIf="isAdd">
  <app-add-area (area)="addArea($event) "(isBack)="showAreaPage($event)"></app-add-area>
</div>
<div *ngIf="isUpdate">
<app-update-area (updatedArea)="updateArea($event)" (isBack)="showAreaPage($event)" [updateArea]="areas" [updateId]="id"></app-update-area>
</div>