
<div class="nav"   *ngIf="urlpath === 'admin'">
  <li>
    <a href="#"><i class="fa fa-cutlery"></i> Manage ingredient<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="[{ outlets: { myOutlet:['ingredientTypes']} }]">Ingredient Types</a>
      </li>
       <li>
        <a [routerLink]="[{ outlets: { myOutlet:['ingredientList']} }]">Ingredient List</a>
      </li>
      
    </ul>
   
  </li>
  </div>


  <div class="nav"  *ngIf="urlpath === 'vendor'">
      <li>
        <a href="#"><i class="fa fa-cutlery"></i> Manage ingredient<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a [routerLink]="[{ outlets: { vendorOutlet:['ingredientTypes']} }]">Ingredient Types</a>
          </li>
           <li>
            <a [routerLink]="[{ outlets: { vendorOutlet:['ingredientList']} }]">Ingredient List</a>
          </li>
          
        </ul>
       
      </li>
      </div>
