
<select class="form-control" [(ngModel)]="selectedCity" (ngModelChange)="getSelectedCity(selectedCity)" >
     
      <option *ngFor=" let city of cities" [ngValue]="city.name">{{city.name}}

      </option>
 
</select>