
<div class="well marginwell" *ngIf="vendorDetail">
    <h4>Update Vendor</h4>
  
    <div class="form-horizontal">
  
      <div class="form-group">
        <label class="control-label col-sm-2"> Name:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Name" [(ngModel)]="vendorDetail.vendorName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"> Email:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder="  Email" [(ngModel)]="vendorDetail.email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"> Password:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" password" [(ngModel)]="vendorDetail.password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Confirm Password:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Confirm Password" [(ngModel)]="vendorDetail.confirmPassword">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">User Name:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" User Name" [(ngModel)]="vendorDetail.userName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Vendor SMS number:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Vendor SMS number" [(ngModel)]="vendorDetail.vendorSMSnumber">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Contact Address:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Contact Address" [(ngModel)]="vendorDetail.contactAddress">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Categories:</label>
        <div class="col-sm-6">
          <angular2-multiselect [data]="dropdownCategoriesList" [(ngModel)]="selectedCategoriesItems" [settings]="dropdownCategoriesSettings"
            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
  
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="control-label col-sm-2">Cusines:</label>
        <div class="col-sm-6">
          <angular2-multiselect [data]="dropdownCusinesList" [(ngModel)]="selectedCusinesItems" [settings]="dropdownCusinesSettings"
            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
  
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">City:</label>
        <div class="col-sm-6">
          <angular2-multiselect [data]="dropdownCityList" [(ngModel)]="selectedCityItems" [settings]="dropdownCitySettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
  
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Area:</label>
        <div class="col-sm-6">
          <angular2-multiselect [data]="dropdownAreaList" [(ngModel)]="selectedAreaItems" [settings]="dropdownAreaSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
  
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Delivery Locations:</label>
        <div class="col-sm-6">
          <angular2-multiselect [data]="dropdownlocationList" [(ngModel)]="selectedlocationsItems" [settings]="dropdownlocationSettings"
            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
  
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="control-label col-sm-2">Commision:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Commision" [(ngModel)]="vendorDetail.commision">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Service Taxs:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Service Tax" [(ngModel)]="vendorDetail.serviceTax">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Min Order Value:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Min Order Value" [(ngModel)]="vendorDetail.minOrderValue">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Delivery Time:</label>
        <div class="col-sm-6">

          <input type="text" class="form-control" placeholder=" Delivery Time" [(ngModel)]="vendorDetail.deliveryTime">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"> Payment Option:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Payment Option" [(ngModel)]="vendorDetail.paymentOption">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Resturant Type:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Resturant Type" [(ngModel)]="vendorDetail.resturantType">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Delivery Cost Amount:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Delivery Cost Amount" [(ngModel)]="vendorDetail.deliveryCostAmount">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Delivery Cost KM:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Delivery Cost KM" [(ngModel)]="vendorDetail.deliveryCostKM">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Delivery Additional Cost KM:</label>
        <div class="col-sm-6">
  
          <input type="text" class="form-control" placeholder=" Delivery Additional Cost KM" [(ngModel)]="vendorDetail.deliveryAdditionalCostKM">
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="control-label col-sm-2">Status:</label>
        <div class="dropdown  col-sm-2">
          <select class="form-control" [(ngModel)]="vendorDetail.vendorStatus">
                      
                      <option  >Active</option>
                      <option >Deactive </option>
                  
                  </select>
        </div>
      </div>
  
  
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="update(vendorDetail)">Update</button>
          <button class="btn btn-default" (click)="back()">Back</button>
        </div>
  
      </div>
  
    </div>
  </div>
<!-- <div *ngIf="vendorDetail">
  
<div  >

<input type="text" placeholder="vendorDetail Name"  [(ngModel)]="vendorDetail.vendorName"  required><br><br>
<input type="text" placeholder="vendorDetail email"  [(ngModel)]="vendorDetail.email" required><br><br>
<div><input type="text" [(ngModel)]="vendorDetail.password" ><br><br></div>
<div><input type="text" [(ngModel)]="vendorDetail.confirmPassword" ><br><br></div>
<div><input type="text" [(ngModel)]="vendorDetail.userName" ><br><br></div>
<div><input type="text" [(ngModel)]="vendorDetail.vendorSMSnumber" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.contactAddress" ><br><br></div>

<div  ><angular2-multiselect  [data]="dropdownCategoriesList" [(ngModel)]="selectedCategoriesItems" 
  [settings]="dropdownCategoriesSettings" 
  (onSelect)="onItemSelect($event)" 
  (onDeSelect)="OnItemDeSelect($event)"
  
  (onSelectAll)="onSelectAll($event)"
  (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect><br><br></div>

  <div  ><angular2-multiselect [data]="dropdownCusinesList" [(ngModel)]="selectedCusinesItems" 
    [settings]="dropdownCusinesSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect><br><br></div>

    <div ><angular2-multiselect [data]="dropdownCityList" [(ngModel)]="selectedCityItems" 
      [settings]="dropdownCitySettings" 
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="OnItemDeSelect($event)"
      
    ></angular2-multiselect><br><br></div>

    <div ><angular2-multiselect [data]="dropdownAreaList" [(ngModel)]="selectedAreaItems" 
      [settings]="dropdownAreaSettings" 
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="OnItemDeSelect($event)"
      
    ></angular2-multiselect><br><br></div>

    <div ><angular2-multiselect [data]="dropdownlocationList" [(ngModel)]="selectedlocationsItems" 
      [settings]="dropdownlocationSettings" 
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="OnItemDeSelect($event)"
      
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect><br><br></div>



<div><input type="text" [(ngModel)]="vendorDetail.deliveryLocation" ><br><br></div>
<div><input type="text" [(ngModel)]="vendorDetail.commision" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.serviceTax" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.minOrderValue" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.deliveryTime" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.paymentOption" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.resturantType" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.deliveryCostAmount" ><br><br></div>
<div><input type="text" [(ngModel)]="vendorDetail.deliveryCostKM" ><br><br></div>
<div><input type="text"  [(ngModel)]="vendorDetail.deliveryAdditionalCostKM" ><br><br></div>
<div>  <select  [(ngModel)]="vendorDetail.vendorStatus" >
    
    <option  >Active</option>
    <option >Deactive </option>

</select></div> 
</div >
<br>
<button class="btn " (click)="update(vendorDetail)">Update</button>
<button class="btn " (click)="back()">back</button>
</div> -->